body, input {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
a {
  color: #2563eb;
}
a:hover {
  color: #1a58e0;
}

main {
  width: 400px;
}
main > form {
  display: flex;
  flex-direction: column;
}
#CaPT-ondemand-form {
  input, label {
    background: #f0f0f0;
    border: 1px rgba(0, 0, 0, 0.2) solid;
    cursor: pointer;
  }
  input:has(+ label) {
    display: none;
  }
  input:hover:not(:disabled),  
  input:not(:disabled) + label:hover {
    background: #e5e5e5;
  }
  input:checked,
  input:checked + label {
    background: #2563eb;
    color: #fff;
  }
  input:checked:hover,
  input:checked:hover + label {
    background: #1a58e0;
  }

  input:disabled, input:disabled + label {
    cursor: unset;
    opacity: 0.4;
  }
  textarea {
    align-content: center;
  }
}
#source-options {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-self: flex-end;
  white-space: nowrap;
  width: 75%;
  margin-top: 0.5rem;
  input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  label:first-of-type {
    border-top-left-radius: 4px;
  }
  label {
    border-right: unset;
    border-bottom: unset;
    padding: 1px 6px;
    cursor: pointer;
    user-select: none;
  }
  label:last-of-type {
    border-right: 1px rgba(0, 0, 0, 0.2) solid;
    border-top-right-radius: 4px;
  }
}

#plain-text-representation {
  border-radius: 4px 0 4px 4px;
  border: 1px rgba(0, 0, 0, 0.2) solid;
  width: 99.5% !important;
  min-height: 1rem;
  field-sizing: content; /* baseline 2026 */
  resize: none;
  padding: 0.125rem 0;
}

#CaPT-btn-container {
  display: grid;
  grid-auto-flow: column;
  width: calc(75% / 2);
  align-self: center; 
  margin-top: 0.5rem;
  input {
    background: lightcyan;
    border-radius: 4px;
  }
  input:hover {
    background: #d5f4f4;
  }
}

#always-CaPT-options {
  padding: 0;
  margin: 0;
  margin-top: 0.25rem;
  list-style-type: none;
  display: flex;
  justify-content: center;
  ul {
    margin: 0;
    padding-left: 1.25rem;
    list-style-type: none;
  }
  input, p {
    margin: 0;
  }
  label {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 0.5rem;
    margin-top: 0.25rem;
    cursor: pointer;
  }
  label[disabled] {
    opacity: 0.4;
    cursor: default;
  }
}
.site-origin {
  width: 100%;
  display: block;
  text-align: center;
  word-break: break-all;
}

footer {
  margin: 0.75rem -8px -8px -8px;
  padding: 8px;
  background: #e5e5e5;
  border-top: 1px rgba(0, 0, 0, 0.2) solid;
}

#extension-version-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
  gap: 0.5rem;
  div {
    width: 15%;
    height: 1px;
    background: rgba(0, 0, 0, 0.2);
  }
}
#extension-version {
  margin: 0;
}

footer > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  > li:not(:last-of-type) {
    padding-right: 0.5rem;
    border-right: 1px rgba(0, 0, 0, 0.2) solid;
    margin-right: 0.5rem;
  }
}